*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';
}
header{
    background-color: rgb(53, 47, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
header h2{
    color: white;
    margin-left: 10px;
}
#search-sort{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    
}
#search-sort #search{
    margin: 10px;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(53, 47, 47);
}